.strings-numb {
    display: block;
    width: 2ch;
    margin: 0 4px 0 4px;
    text-align: center;
}

.tuners-block {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.strings-btns-block {
    text-align: center;
    z-index: 1;
}

.strings-btns-block > * {
    display: inline-block;
    vertical-align: middle;
}

.string_btn {
    box-sizing: border-box;
    vertical-align: middle;
}

.str-tuner {
    margin: 2px auto;
}
.str-tuner > * {
    vertical-align: middle;
}

.str-tuner-sel {
    text-align: center;
    margin: 0 auto;
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
}
.str-tuner-sel option
{
    text-align: start;
}

.tunings-menu-btn {
    display: none;
}