.toggle_checkbox
{
    margin: 0 4px;
    position: relative;
    width: 40px;
    height: 18px;
    border-radius: 2px;
}
.toggle_checkbox_slider
{
    position: absolute;
    top: 0;
    width: 18px;
    height: 18px;
    border-radius: 2px;
}

.font_element
{
    line-height: 1;
}

.left_arrow
{
    margin-right: 3px;
    display: inline-block;
    vertical-align: middle;
    border-top: 6px solid transparent;
    border-right: 12px solid;
    border-bottom: 6px solid transparent;
}
.right_arrow
{
    margin-left: 3px;
    display: inline-block;
    vertical-align: middle;
    border-top: 6px solid transparent;
    border-left: 12px solid;
    border-bottom: 6px solid transparent;
}
.selected_text
{
    color: #fff;
}
.transitional
{
    -webkit-transition-duration: 0.1s; 
    -o-transition-duration: 0.1s; 
    -moz-transition-duration: 0.1s; 
    transition-duration: 0.1s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.dummy_checkbox
{
    display: none;
}

.center_origin
{
    transform-origin: center;
}

@media screen and (max-width: 1250px)
{
    .left_arrow
    {
        margin-right: 12px;
        border-top: 9px solid transparent;
        border-right: 18px solid;
        border-bottom: 9px solid transparent;
    }
    .right_arrow
    {
        margin-left: 12px;
        border-top: 9px solid transparent;
        border-left: 18px solid;
        border-bottom: 9px solid transparent;
    }
}
