.metronome_disabled_block
{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    z-index: 1;
    opacity: 0.9;
    text-align: center;
    vertical-align: middle;
}
.metronome_block
{
    display: inline-block;
    position: relative;
}
.metronome_element
{
    display: inline-block;
    vertical-align: middle;
}
.metronome_icon
{
    position: relative;
    height: 50px;
    width: 30px;
    margin: 0 10px 0 10px;
}
.metronome_svg_dasharay
{
    stroke-dasharray: 2;
}
.metronome_svg_medium_stoke
{
    stroke-width: 2;
}
.metronome_svg_light_stoke
{
    stroke-width: 1;
}

.volume_block
{
    margin-left: 15px;
}
.volume_range, .tempo_range
{
    width: 160px;
    margin: 3px 0;
    padding: 0;
}
.tempo_block
{
    margin-left: 15px;
}
.metronome_option_head
{
    text-align: center;
    position: relative;
}
.option_head_start_val
{
    position: absolute;
    left: 0;
    bottom: 0;
}
.option_head_end_val
{
    position: absolute;
    right: 0;
    bottom: 0;
}
.metronome_options_text
{
    text-transform: capitalize;
}
.tempo_input_block
{
    margin: 17px 0 0 10px;
}
.tempo_input
{
    display: inline-block;
    vertical-align: middle;
    height: 18px;
    text-decoration: none;
    line-height: 18px;
    border: 0;
    text-align: right;
}
.signature_block
{
    height: 48px;
    margin-left: 20px;
}
.signature_block li
{
    margin-right: 10px;
}
.signature_option_block
{
    margin-top: 4px;
}
.signature_select
{
    margin: 0 auto;
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    text-transform: capitalize;
    line-height: 18px;
    height: 18px; 
    text-align: right;
}
.metronome_beat_vis_block
{
    position: relative;
    height: 40px;
    width: 40px;
    border-radius: 20px;
}
.metronome_pointer_block
{
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
}
