body, div, ul, li
{
    margin: 0;
    padding: 0;
}
ul, li
{
    list-style: none;
    font-size: 0;
    cursor: default;
}
span, div
{
    cursor: default; 
}
a *
{
    cursor: pointer;
}
select
{
    border: 0;
    margin: 0;
    padding: 0;
}
.clear
{
    clear: both;
}
.bg_block
{
    min-height: 100vh;
    height: 100vh;
}
.content_block
{
    text-align: center;
    margin: 0 auto;
    min-height: 100vh;
    min-width: 1250px;
    max-width: 100vw;
    width: 100%;
    padding-bottom: 70px;
    box-sizing: border-box;
}

.noscipt_warning
{
    width: 100%;
    position: absolute;
    bottom: 50%;
    text-align: center;
    font-family: Tahoma, Arial, Verdana;
    font-size: 25px;
    font-weight: bold;
}

@media screen and (max-width: 1250px)
{
    .content_block
    {
        min-width: 600px;
    }
    
}

@media screen and (min-width: 1920px)
{
    .item_block
    {
        margin-right: 30px;
    }
}
