.neck_block
{
    width: 100%;
}
.tuners_and_fretboard_block
{
    display: flex;
}
.lh_toggle_block
{
    text-align: center;
    margin-bottom: 5px;
}
.lh_toggle_block div
{
    display: inline-block;
    vertical-align: middle;
}
.slider_rh
{
    right: 0;
}
.slider_lh
{
    left: 0;
}
.lh
{
    -moz-transform: scaleX(-1);  
    -o-transform: scaleX(-1); 
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1); 
}
.lh .note
{
    -moz-transform: scaleX(-1);  
    -o-transform: scaleX(-1); 
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1); 
}
.lh .string_tune_select
{
    -moz-transform: scaleX(-1);  
    -o-transform: scaleX(-1); 
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1); 
}

.tuning_options
{
    min-height: 60px;
    text-align: justify;
    float: left;
}
.tuning_options li
{
    margin-bottom: 10px;
}
.tuning_options li:last-child
{
    margin-bottom: 0;
}
.tuning_select
{
    display: inline-block;
    vertical-align: middle;
    font-family: Tahoma, Arial, Verdana;
    font-size: 18px;
    text-transform: capitalize;
    height: 25px;
}
.half_step_block
{
    display: inline-block;
    vertical-align: middle;
}
.half_step_select
{
    display: inline-block;
    vertical-align: middle;
    font-family: Tahoma, Arial, Verdana;
    font-size: 14px;
    text-align: right;
    line-height: 18px;
    height: 18px;
}
