.strings_options_block
{
    display: inline-block;
    margin: 5px 10px 0 0;
}
.strings_btns_block
{
    float: left;
    margin-right: 10px;
    text-align: center;
}
.strings_number
{
    display: inline-block;
    font-family: Tahoma, Arial, Verdana;
    font-size: 14px;
    font-weight: bold;
    width: 20px;
    vertical-align: middle;
}
.string_btn
{
    box-sizing: border-box;
    vertical-align: middle;
}
.string_tune
{
    margin: 3px auto;
}
.string_tune_select
{
    margin: 0 auto;
    display: inline-block;
    vertical-align: middle;
    font-family: Tahoma, Arial, Verdana;
    font-size: 14px;
    text-decoration: none;
    text-transform: capitalize;
    line-height: 18px;
    height: 18px;
    width: 40px;
}

@media screen and (max-width: 1250px)
{
    .strings_btns_block
    {
        margin-left: 10px;
    }
    .strings_options_block
    {
        margin-top: 3px;
    }
    .string_tune
    {
        margin: 6px auto;
    }
}
