.head-block {
    width: 100%;
    min-height: 50px;
}

.head-block-content {
    text-transform: capitalize;
    text-align: center;
}
.head-block-content > * {
    padding: 0 8px;
    vertical-align: middle;
    display: inline-block;
}

.head-block a {
    text-decoration: none;
    text-transform: capitalize;
}

.head-subitem {
    vertical-align: middle;
}

.head-separator {
    padding: 0;
    width: 2px;
    height: 30px;
}

#common-settings-wrap {
    vertical-align: middle;
    display: inline-block;
}