@media screen and (min-width: 1921px) {
    .item-block {
        margin-right: 30px;
        margin-left: 30px;
    }
}

@media screen and (max-width: 1400px) {
    .item-block {
        flex-direction: column-reverse;
    }
    .item-controls {
        flex-direction: row-reverse;
    }

    .item-block {
        width: 100%;
    }
    .item-content {
        margin: 5px 0 5px 5px;
    }
}

@media screen and (max-width: 1250px) {
    .signature-option-block:first-child {
        margin-bottom: 12px;
    }

    .signature-option-block:last-child {
        margin-top: 12px;
    }

    .frets-width-cont>*:nth-child(n+14) {
        display: none;
    }
    .fret-hor {
        padding: 2px 0 2px;
    }
    .str-tuner-sel, .signature-sel, .tempo-input, .hs-select {
        margin-left: 8px;
        margin-right: 8px;
    }
    .volume-range, .tempo-range {
        margin-top: 10px;
    }
    .metr-option-head > * {
        margin-left: 5px;
        margin-right: 5px;
    }
}

@media screen and (max-width: 800px) {
    #content {
        min-width: 710px;
    }
}