.n0 {
    content: "C";
}

.n1 {
    content: "C#";
}
.flat-notation .n1 {
    content: "Db";
}

.n2 {
    content: "D";
}

.n3 {
    content: "D#";
}
.flat-notation .n3 {
    content: "Eb";
}

.n4 {
    content: "E";
}

.n5 {
    content: "F";
}

.n6 {
    content: "F#";
}
.flat-notation .n6 {
    content: "Gb";
}

.n7 {
    content: "G";
}

.n8 {
    content: "G#";
}
.flat-notation .n8 {
    content: "Ab";
}

.n9 {
    content: "A";
}

.n10 {
    content: "A#";
}
.flat-notation .n10 {
    content: "Bb";
}

.n11 {
    content: "B";
}