.settings-content {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    gap: 8px;
}

.settings-separator {
    grid-column: 1 / span 2;
    height: 2px;
    width: 100%;
}

.modal-block-controls,
.themes-block,
.modal-block-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-block-controls {
    padding-left: 10px;
}

.modal-block-controls>*:first-child {
    flex: 1;
}
.modal-block-controls>*:last-child {
    margin-left: auto;
}

.night #modal-block {
    box-shadow: 0 0 8px #222;
}

.day #modal-block {
    box-shadow: 0 0 8px #bbb;
}