.item_block
{
    vertical-align: top;
    display: inline-block;
    text-align: justify;
    position: relative;
    margin: 70px auto 0;
    width: 90%;
    min-width: 1250px;
    max-width: 1780px;
    background: #222;
    box-shadow: 0 0 5px #000;
}
.item_content
{
    width: 95%;
    margin: 5px 15px;
}
.item_head_select
{
    float: left;
    color: #fc0;
    font-family: Tahoma, Arial, Verdana;
    font-size: 18px;
    text-decoration: none;
    text-transform: capitalize;
    background: #555;
    height: 25px;
}
.item_options_block
{
    text-align: center;
}
.options_text
{
    display: inline-block;
    vertical-align: middle;
    margin-right: 3px;
    color: #fff;
    font-family: Tahoma, Arial, Verdana;
    font-size: 18px;
    text-transform: capitalize;
}
.close_btn
{
    position: absolute;
    top: 0;
    right: 0;
    color: #fc0;
}
.close_btn:hover
{
    color: #fff;
}
.set_default_btn
{
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin: auto 0 0 auto;
    box-sizing: border-box;
    color: #fc0;
}
.set_default_btn:hover
{
    color: #fff;
}

@media screen and (max-width: 1250px)
{
    .item_block
    {
        min-width: 600px;
        width: 100%;
    }
}
