.item_block
{
    vertical-align: top;
    display: inline-block;
    text-align: justify;
    position: relative;
    margin-top: 70px;
    width: 90%;
    min-width: 1250px;
    max-width: 1780px;
}
.night .item_block
{
    box-shadow: 0 0 5px #222;
}
.day .item_block
{
    box-shadow: 0 0 5px #bbb;
}
.item_content
{
    width: 95%;
    margin: 5px 15px;
}
.item_head_select
{
    float: left;
    text-decoration: none;
    text-transform: capitalize;
    height: 25px;
}
.item_options_block
{
    text-align: center;
}
.options_text
{
    display: inline-block;
    vertical-align: middle;
    margin-right: 3px;
    text-transform: capitalize;
}
.close_btn
{
    position: absolute;
    top: 0;
    right: 0;
}
.set_default_btn
{
    position: absolute;
    bottom: 0;
    right: 0;
    margin: auto 0 0 auto;
    box-sizing: border-box;
}
.add_new_item
{
    margin: 70px auto;
    width: 82px;
}
@media screen and (max-width: 1250px)
{
    .item_block
    {
        min-width: 850px;
        margin: 70px auto 0;
        width: 100%;
    }

    .close_btn
    {
        right: 10px;
    }

    .set_default_btn
    {
        right: 10px;
    }
}

@media screen and (min-width: 1921px)
{
    .item_block
    {
        margin-right: 30px;
        margin-left: 30px;
    }
}
