.scale_select_block
{
    min-height: 80px;
    text-align: justify;
    float: right;
}
.scale_select
{
    display: inline-block;
    vertical-align: middle;
    text-transform: capitalize;
    height: 25px;
}
.triads_mode_block
{
    margin-top: 9px;
}
.triads_checkbox
{
    vertical-align: middle;
}
.triads_checkbox_empty
{
    vertical-align: middle;
}

.transparent_block
{
    opacity: 0.4;
}
.scale_options_block
{
    text-align: justify;
    display: inline-block;
}
.scale_notes_signs
{
    float: left;
    margin: 0px 20px 0 0;
}
.scale_notes_signs li:first-child
{
    margin-bottom: 6px;
}
.root_note
{
    cursor: default;
    float: left;
    min-width: 27px;
    text-align: center;
    padding: 0 3px;
}
.scale_notes_and_semitones_block
{
    float: left;
}
.scale_notes_and_semitones_block ul:first-child
{
    margin-bottom: 6px;
}
.scale_notes
{
    position: relative;
}
.scale_note
{
    border-radius: 2px;
    display: inline-block;
    text-align: center;
    width: 40px;
    position: relative;
}
.scale_rel_step
{
    line-height: 23px;
}
.scale_note_text
{
    line-height: 27px;
}
.semitone_block
{
    position: relative;
    bottom: -23px;
    display: inline-block;
    text-align: center;
    border-top-width: 2px;
    border-top-style: solid;
}
.separator_ver_small
{
    position: absolute;
    bottom: -4px;
    display: inline-block;
    height: 8px;
    width: 2px;
    left: 50%;
    transform: translateX(-50%);
}
.semitone_width1
{
    width: 10px;
}
.semitone_width2
{
    width: 35px;
}
.semitone_width3
{
    width: 55px;
}
.semitone_width4
{
    width: 70px;
}
.semitone_width5
{
    width: 90px;
}
.semitone_width6
{
    width: 110px;
}
.semitone_width7
{
    width: 130px;
}
.semitone_width8
{
    width: 150px;
}

@media screen and (max-width: 1250px)
{
    .scale_notes_signs
    {
        margin-right: 5px;
    }
}
