.scale-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
    padding-top: 20px;
    gap: 10px;
}

.scale-options, .scale-sel-block {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
}
.scale-options {
    column-gap: 5px
}
.scale-options > * {
    text-align: left;
}
.scale-options > *:nth-child(-n + 2) {
    margin-bottom: 10px;
}

.scale-sel-block {
    gap: 5px;
}
.scale-sel-block > * {
    text-align: left;
}

.root-notes {
    display: flex;
    gap: 12px;
}
.root-notes > * {
    text-align: center;
    width: 2ch;
    padding: 3px;
    border-radius: 4px;
}

.scale-notes-block {
    display: flex;
    height: 100%;
    grid-row: 2 / span 5;
    grid-column: 2;
}

.scale-note {
    border-radius: 2px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.scale-notes-block .selected {
    background: none;
}