.scale-block {
    white-space: nowrap;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
    padding-top: 20px;
    gap: 10px;
}

.scale-options {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
}
.scale-options {
    column-gap: 5px
}
.scale-options > * {
    text-align: left;
}
.scale-options > *:nth-child(-n + 2) {
    margin-bottom: 15px;
}

.scale-sel-block {
    display: flex;
    flex-direction: column;
}
.scale-sel-block > * {
    text-align: left;
}

.scale-sel-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.scale-sel-title * {
    vertical-align: middle;
}
.scale-sel-title > *:first-child {
    margin-right: 20px;
}

.root-notes {
    display: flex;
    gap: 12px;
}
.root-notes > * {
    text-align: center;
    width: 2ch;
    padding: 3px;
    border-radius: 4px;
}

.scale-notes-block {
    display: flex;
    height: 100%;
    grid-row: 2 / span 5;
    grid-column: 2;
}

.scale-notes-block .selected {
    background: none;
}

.scale-note {
    width: 40px;
    border-radius: 2px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.scale-note > * {
    flex: 1;
    align-content: center;
}
.scale-note .transparent {
    opacity: .5;
}

.semitone-block {
    display: flex;
    justify-content: center;
    align-items: end;
}
.semitone-block:last-child {
    display: none;
}